@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sigmar&family=Staatliches&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header,nav,main,footer{
    width: 100%;
    padding: 30px;
    background-color: #09122C;
    color: #E17564;
}
header,footer{
    text-align: center;
    font-size: 48px;
}
nav{
    height: auto;
    background-color: #872341;
}
nav ul{
    text-align: center;
}
nav ul li{
    width: 10%;
    min-width: 100px;
    height:50px;
    background-color: #09122C;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
}
main{
    height: auto;
    background-color: #E17564;
    color: #872341;
    padding: 10px;
}
footer{
    font-size: 24px;
}
section{
    width: 70%;
    height: auto;
    background-color: #BE3144;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    color: #E17564;
}
p{
    margin-top: 20px;
}
h2{
    color: #09122C;
}
img{
    width: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#img_gif{
    width: 30%;
    border-radius: 50%;
}
.img_float{
    width: 15%;
    min-width: 10%;
}
#img_izq{
    float: left;
    margin: 0px;
    margin-right: 20px;
}
#img_der{
     width: 30%;
    float: right;
    margin: 0px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#img_ico{
    width: 64px;
    height: auto;
    margin-right: 0;
}
#fondo{
    height: 800px;
    background-image: url("../imagenes/fuego.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
video, iframe{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: block;
}
.box_videos{
    text-align: center;
}
.box_videos section{
    width: 45%;
    min-width: 360px;
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    height: 800px;
    overflow-y: auto;
}
.box_videos section p{
    text-align: justify;
}
h1{
    font-family: ""
}
